<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= trainer.nickname %> | TT</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="page-container"> 
        <h1>Trainer Profile: <%= trainer.nickname%></h1>
    

        <div class="form-grid">
            <div class="form-fields">
                <label class="form-label">Brand</label>
                <div class="form-input"><%= trainer.brand %></div>
            </div>
        
        <div class="form-fields">
            <label class="form-label">Model</label>
            <div class="form-input"><%= trainer.model %></div>
        </div>

        <div class="form-fields">
            <label class="form-label">Terrain Type</label>
            <div class="form-input"><%= trainer.terrainType %></div>
        </div>

         <div class="form-fields">
            <label class="form-label">Price</label>
            <div class="form-input"><%= trainer.price %></div>
        </div>

        <div class="form-fields">
            <label class="form-label">Owner</label>
            <div class="form-input"><%= trainer.owner ? trainer.owner.username: 'Unknown' %></div>
        </div>

        <div class="form-fields">
            <label class="form-label">Rating</label>
            <div class="form-input"><%= trainer.rating || 'Not rated' %></div>
        </div>
        </div>

        <div class="popularity">
            <p>Popularity: <%= (trainer.favouritedByUsers?.length) || 0 %> Users have favourited this trainer! </p>
        </div>
    
    <div class="show-actions">
        <% if (user) { %>
            <% if (trainer.owner && trainer.owner._id.equals(user._id)) { %>
            <p class="owner-text">You own this trainer</p>


        <div class="button-group">
            <div class="form-actions">
                <a href="/trainers/<%= trainer._id %>/edit" class="secondary-btn" role="button">Edit Trainer</a>
            </div>
           
            <div class="form-actions">
                <form action="/trainers/<%= trainer._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="secondary-btn">Delete trainer</button>
                </form>
            </div>
        </div>

        <a href="/trainers/my-trainers" class="secondary-btn" style="margin-top: 20px;">Back to my Trainers</a>

        <% } else { %> 
            <p class="owner-text">These trainers are owned by <%= trainer.owner? trainer.owner.username: 'Unknown' %></p>
        
        <div class="form-actions">
        <% if (userHasFavourited) { %>
                <form action="/trainers/<%= trainer._id %>/favourite?_method=DELETE" method="POST">
                    <button type="submit" class="auth-btn">Unfavourite</button>
                </form>

        <% } else { %>
            <form action="/trainers/<%= trainer._id %>/favourite" method="POST">
                <button type="submit" class="auth-btn">Favourite</button>
            </form>
        <% } %>
        </div>

            <a href="/trainers" class="secondary-btn">Back to All Trainers</a>
        <% } %>

        <% } else { %>
            <p class="owner-text">Log in to favourite this trainer</p>
            <a href="/trainers" class="secondary-btn">Back to Trainer Index</a>
        <% } %>
        </div>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>