<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= trainer.nickname %></title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1>Trainer Profile: <%= trainer.nickname%></h1>

    <ul>
        <li>Brand: <%= trainer.brand %></li>
        <li>Model: <%= trainer.model %></li>
        <li>Terrain Type: <%= trainer.terrainType %></li>
        <li>Price: £<%= trainer.price %></li>
        <li>Owner: <%= trainer.owner ? trainer.owner.username: 'Unknown' %></li>
        <li>Rating: <%= trainer.rating || 'not rated' %></li>
    </ul>

    <p>Popularity: <%= trainer.favouritedByUsers.length %> Users have favourited this trainer! </p>
    <% if (user) { %>
        <% const hasFavourited = trainer.favouritedByUsers.some(id => id.equals(user._id)) %>

        <% if (hasFavourited) { %>
        <form action="/trainers<%= trainer._id %>/favourite?_method=DELETE" method="POST">
            <button type="submit">Unfavourite</button>
        </form>
        <% } else { %> 
        <form action="/trainers/<%= trainer._id %>/favourite" method="POST">
            <button type="submit">Favourite</button>
        </form>
        <% } %>
    <% } %>
    
    
    
    
    <% if (user && trainer.owner && trainer.owner._id.equals(user._id)) { %>
        <p>You own this trainer</p>
        <form action="/trainers/<%=trainer._id%>?_method=DELETE" method="POST">
            <button type="submit">Delete this trainer</button>
        </form>
        <br>
        <a href="/trainers/<%= trainer._id %>/edit">Edit Trainer</a>
    <% } else  { %>
        <p>These trainers are owned by <%= trainer.owner.username %> </p>
    <% } %>
        <% if (user && trainer.owner && trainer.owner._id.equals(user._id)) { %>
        <a href="/trainers/my-trainers">Back to my Trainers</a>
    <% } else { %>
        <a href="/trainers">Back to All Trainers</a>
    <% } %>
</body>
</html>