<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= trainer.nickname %></title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1>Trainer Profile: <%= trainer.nickname%></h1>

    <ul>
        <li>Brand: <%= trainer.brand %></li>
        <li>Model: <%= trainer.model %></li>
        <li>Terrain Type: <%= trainer.terrainType %></li>
        <li>Price: £<%= trainer.price %></li>
        <li>Owner: <%= trainer.owner ? trainer.owner.username: 'Unknown' %></li>
        <li>Rating: <%= trainer.rating || 'not rated' %></li>
    </ul>

    <p>Popularity: <%= (trainer.favouritedByUsers?.length) || 0 %> Users have favourited this trainer! </p>
    <% if (user) { %>
            <% if (trainer.owner && trainer.owner._id.equals(user._id)) { %>
            <p>You own this trainer</p>
            
            <form action="/trainers/<%= trainer._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete trainer</button>
            </form>
        <a href="/trainers/<%= trainer._id %>/edit">Edit Trainer</a>
        <a href="/trainers/my-trainers">Back to my Trainers</a>

        <% } else { %> 
            <p>These trainers are owned by <%= trainer.owner? trainer.owner.username: 'Unknown' %></p>
        
        <% if (userHasFavourited) { %>
            <form action="/trainers/<%= trainer._id %>/favourite?_method=DELETE" method="POST">
                <button type="submit">Unfavourite</button>
            </form>

        <% } else { %>
            <form action="/trainers/<%= trainer._id %>/favourite" method="POST">
                <button type="submit">Favourite</button>
            </form>
        <% } %>

        <a href="/trainers">Back to All Trainers</a>
        <% } %>
    <% } else { %>
        <p>Log in to favourite this trainer</p>
        <a href="/trainers">Back to All Trainers</a>
    <% } %>
</body>
</html>