<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= trainer.nickname %></title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1>Trainer Profile: <%= trainer.nickname%></h1>

    <ul>
        <li>Brand: <%= trainer.brand %></li>
        <li>Model: <%= trainer.model %></li>
        <li>Terrain Type: <%= trainer.terrainType %></li>
        <li>Price: £<%= trainer.price %></li>
        <li>Owner: <%= trainer.owner ? trainer.owner.username: 'Unknown' %></li>
        <li>Rating: <%= trainer.rating || 'not rated' %></li>
    </ul>

    <% if (user && trainer.owner && trainer.owner._id.equals(user._id)) { %>
        <p>You own this trainer</p>
        <form action="/trainers/<%=trainer._id%>?_method=DELETE" method="POST">
            <button type="submit">Delete this trainer</button>
        </form>
        <br>
        <a href="/trainers/<%= trainer._id %>/edit">Edit Trainer</a>
    <% } else  { %>
        <p>These trainers are owned by <%= trainer.owner.username %> </p>
    <% } %>

    <a href="/trainers">Back to All Trainers</a>
</body>
</html>